.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}
.nav-item {
    font-family: 'Times New Roman', Times, serif;

}
.bordered{
    border: 1px solid #000000;
}
.info1{
    height:75px;
}

.back-row1{
    background-color:#FAF3DD;
    text-align: center;
}

.submit{
    text-align: center;
}

.test-sizing{
    width:10px;
    height:10px;
    border-radius:40%;
}