.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}
.nav-item {
    font-family: 'Times New Roman', Times, serif;

}
.bordered{
    border: 1px solid #000000;
}
.info1{
    height:75px;
}

.back-row1{
    background-color:#FAF3DD;
}

